body{
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: wheat;
    background-color: rgb(43, 38, 38);
}

header {
    color: chocolate;
    padding: 20px;
}

header>h1 {
    color: rgb(235, 210, 164);
    text-align: center;
}

h1, h2 {
    margin: 2px;
    padding: 0px;
    text-align: center;
}

.menu{
    margin: 20px;
    display: flex;
    padding: 10px;
    background-color: rgb(43, 3, 3);
    color: wheat;
}

.menu li{
    padding-right: 10px;
    list-style: none;
    font-size: 14px;
}

.menu li a{
    text-decoration: none;
}

.menu li a:visited{
    color: white;
}

.new-button{
    font-size: 14px;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px 0 0 5px;
    border-color: beige;
    background-color: black;
}

.decks{
    border: 1px solid maroon;
    width: 250px;
    padding: 10px;
    min-width: 50px;
    display: flex;
    line-height: 14px;
    margin-bottom: 10px;
}

.flashcard{
    border: 1px solid maroon;
    width: 250px;
    padding: 10px;
    min-width: 50 px;
    display: flex;
    line-height: 14px;
    margin-bottom: 10px;
}

#home-image {
    width: 100vw;
    height: 100vh;
    background: url('/static/images/nisaba_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}