{% extends "base.html" %}
{% block content %}


<!-- TODO: for flashcard in flashcards
           get flashcard.question
           get flashcard.answer
           hide flashcard.asnwer
           button: show answer
           onclick reveal flashcard.answer -->


<h1>
Lets play the {{deck.topic}} deck!
</h1>

{% for flashcard in flashcards %}
    <div>
        <div class="question">
            {{flashcard.question}}
        </div>
        <form action="/flashcards/{{flashcard.id}}/answer" class="answer" method="POST">
            <button>Show Answer</button>
        </form>
    </div>
{% endfor %}

{% endblock %}