{% extends "base.html" %}
{% block content %}
<!-- 
<h1>Lets Play: {{deck.topic}}</h1>

{% for flashcard in all_flashcards %}
    <div class="flashcards">
        <div class="content">
            <p class="question">{{flashcard.question}}</p>
        </div>
    </div>
    <button>Show Answer</button>
{% endfor %} -->

<h1>
Lets play the {{deck.topic}} deck!
</h1>

{% for flashcard in flashcards %}
    <div>
        <div class="question">
            {{flashcard.question}}
        </div>
    </div>
{% endfor %}

{% endblock %}